In [1]:
%run driver.py

Welcome to the command line interface
Enter a command: File_input
csvFileName: NYPD_Complaint_Data_Current__Year_To_Date_1.csv
Result: None
Enter a command: Map_plot
      CMPLNT_NUM  ADDR_PCT_CD        BORO_NM CMPLNT_FR_DT CMPLNT_FR_TM  \
425    239082681         47.0          BRONX      08/2018           22
551    242253777          1.0      MANHATTAN      08/2018           00
1143   250986987        120.0  STATEN ISLAND      08/2018           16
2715   240806563         30.0      MANHATTAN      08/2018           22
4212   245618214         46.0          BRONX      08/2018           12
4748   251717707        101.0         QUEENS      08/2018           12
4966   239918336        114.0         QUEENS      08/2018           13
5847   241699690        113.0         QUEENS      08/2018           02
6692   241527472         73.0       BROOKLYN      08/2018           00
7466   249448509         90.0       BROOKLYN      08/2018           00
8043   250884170         62.0       BROOKLYN      08/2018           12
8324   245995592         52.0          BRONX      08/2018           13
9744   244949243         75.0       BROOKLYN      08/2018           10
10144  240706290         41.0          BRONX      08/2018           09
10979  241640892        114.0         QUEENS      08/2018           00
11094  242431115         45.0          BRONX      08/2018           00

      CMPLNT_TO_DT CMPLNT_TO_TM CRM_ATPT_CPTD_CD HADEVELOPT  HOUSING_PSA  ...  \
425     08/30/2018     01:10:00        COMPLETED     (null)          NaN  ...
551     09/30/2018     23:59:00        COMPLETED     (null)          NaN  ...
1143    09/09/2022     16:00:00        COMPLETED     (null)          NaN  ...
2715    06/22/2019     04:00:00        COMPLETED     (null)          NaN  ...
4212    09/03/2018     12:00:00        COMPLETED     (null)          NaN  ...
4748    08/01/2018     13:00:00        COMPLETED     (null)      34216.0  ...
4966    08/26/2018     13:55:00        COMPLETED     (null)          NaN  ...
5847    08/31/2018     04:00:00        COMPLETED     (null)          NaN  ...
6692    08/01/2018     23:59:00        COMPLETED     (null)       3369.0  ...
7466    08/11/2018     23:59:00        ATTEMPTED     (null)        470.0  ...
8043           NaN       (null)        COMPLETED     (null)          NaN  ...
8324    08/29/2018     23:59:00        COMPLETED     (null)          NaN  ...
9744    05/12/2022     10:00:00        COMPLETED     (null)          NaN  ...
10144   02/09/2022     09:00:00        COMPLETED     (null)          NaN  ...
10979   09/30/2018     23:59:00        COMPLETED     (null)          NaN  ...
11094   08/28/2018     23:59:00        COMPLETED     (null)          NaN  ...

       TRANSIT_DISTRICT VIC_AGE_GROUP        VIC_RACE VIC_SEX X_COORD_CD  \
425                 NaN         25-44           BLACK       M    1026486
551                 NaN         25-44         UNKNOWN       F     982381
1143                NaN         25-44  WHITE HISPANIC       F     965561
2715                NaN         18-24  WHITE HISPANIC       F     999790
4212                NaN         25-44           WHITE       M    1005452
4748                NaN           <18           BLACK       F    1053639
4966               20.0         25-44           WHITE       F    1008983
5847                NaN         25-44           BLACK       F    1046315
6692                NaN           <18           BLACK       F    1008245
7466                NaN           <18           BLACK       F     998002
8043                NaN           <18  WHITE HISPANIC       F     983431
8324                NaN         25-44  WHITE HISPANIC       F    1012694
9744                NaN         45-64         UNKNOWN       F    1013755
10144               NaN       UNKNOWN  WHITE HISPANIC       D    1011498
10979               NaN         25-44           WHITE       F    1007788
11094               NaN           <18  WHITE HISPANIC       F    1032091

      Y_COORD_CD   Latitude  Longitude                                Lat_Lon  \
425       262591  40.887325 -73.847247                (40.887325, -73.847247)
551       201750  40.720442 -74.006744  (40.7204418884676, -74.0067439741913)
1143      163273  40.614804 -74.067312                (40.614804, -74.067312)
2715      241169  40.828623 -73.943849  (40.8286232400477, -73.9438488369889)
4212      248643  40.849118 -73.923363                (40.849118, -73.923363)
4748      158980  40.602776 -73.750117  (40.6027762300781, -73.7501173648331)
4966      222055  40.776131 -73.910700            (40.77613133, -73.91069962)
5847      187088  40.679981 -73.776234  (40.6799807384666, -73.7762339071953)
6692      183796  40.671130 -73.913502  (40.6711300016904, -73.9135020552048)
7466      196692  40.706548 -73.950401  (40.7065483947783, -73.9504006335643)
8043      158677  40.602216 -74.002951  (40.6022161657077, -74.0029507988395)
8324      254135  40.864172 -73.897163                (40.864172, -73.897163)
9744      182377  40.667213 -73.893643                (40.667213, -73.893643)
10144     236431  40.815585 -73.901557                (40.815585, -73.901557)
10979     219633  40.769495 -73.915024  (40.7694951184418, -73.9150241703895)
11094     241976  40.830722 -73.827126  (40.8307223277672, -73.8271260588639)

                         New Georeferenced Column
425                  POINT (-73.847247 40.887325)
551    POINT (-74.0067439741913 40.7204418884676)
1143                 POINT (-74.067312 40.614804)
2715   POINT (-73.9438488369889 40.8286232400477)
4212                 POINT (-73.923363 40.849118)
4748   POINT (-73.7501173648331 40.6027762300781)
4966             POINT (-73.91069962 40.77613133)
5847   POINT (-73.7762339071953 40.6799807384666)
6692   POINT (-73.9135020552048 40.6711300016904)
7466   POINT (-73.9504006335643 40.7065483947783)
8043   POINT (-74.0029507988395 40.6022161657077)
8324                 POINT (-73.897163 40.864172)
9744                 POINT (-73.893643 40.667213)
10144                POINT (-73.901557 40.815585)
10979  POINT (-73.9150241703895 40.7694951184418)
11094  POINT (-73.8271260588639 40.8307223277672)

[16 rows x 36 columns]

interactive(children=(Dropdown(description='city', options=('ALL', 'BRONX', 'BROOKLYN', 'MANHATTAN', 'QUEENS',â€¦

check